

/* service styling start */
#service-container{
    margin: 20px;
    padding: auto;
    width: 100%;
}
#service-container h2{
    margin: 15px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 4px;
    text-decoration: underline;
}

/* our service start */
.service-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    transition: 1s all;
}
.service-box .card{
    width: 25%;
    height: 200px;
    text-align: center;
    padding: auto;
    margin: 10px;
    border: 1px solid gray;
    box-shadow: 1px 2px 10px 2px black;
}
.service-box .card i{
    margin: 25px 25px;
    padding: 5px;
    font-size: 60px;
    color: green;
}
.service-box .card h3{
    font-size: 18px;
    letter-spacing: 2px;
}
.service-box .card:hover{
    box-shadow: 0px 2px 15px 3px black;
}
/* our service end */

/* service section gallery start */
#gallery-container{
    margin: 10px;
    padding: 3px;
    box-shadow: 2px 1px 10px 2px gray;
}
.gallery-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
} 
.gallery-box .cards{
    margin: 15px;
    box-shadow: 2px 2px 6px 4px black;
    position: relative;
}
.gallery-box .cards img{
    width: 350px;
    height: 250px;
    border-radius: 6px;
}
.gallery-box .cards .intro{
    width: 100%;
    text-align: center;
    height: 70px;
    position: absolute;
    bottom: 0px;
    background: black;
    color: white;
    transition: .5s all;
}
.gallery-box .cards .intro h2{
    font-size: 20px;
    margin: 25px;
}
.gallery-box .cards .intro p{
    font-size: 18px;
    line-height: 1.5;
    margin: 5px;
    visibility: hidden;
    opacity: 0;
}
.gallery-box .cards:hover{
    cursor: pointer;
}
.gallery-box .cards:hover .intro{
    height: 180px;
    background: black;
}
.gallery-box .cards:hover p{
    opacity: 1;
    visibility: visible;
}
.gallery-box .cards:hover img{
    transform: scale(1.1);
}
/* service section gallery end */

/* service styling end */